html[data-theme="dark"] {
  --el-fill-color-blank: transparent;
  --el-border-color: rgba(58, 64, 73, 1);
  --el-border-color-hover: rgba(58, 64, 73, 1);
  --layputBodyBgColor: #020418;
  --layoutHeaderBgColor: rgba(2, 4, 24, 1);
  --layoutTextColor: rgba(255, 255, 255, 1);
  --layoutTextColor_small: rgba(255, 255, 255, 0.85);
  --layoutTextColor_mini: rgba(255, 255, 255, 0.65);
  --layoutHeaderTextActiveColor: rgba(85, 164, 255, 1);
  --layoutHeaderMenuActiveBorder: rgba(85, 164, 255, 1);
  --layoutFooterBgColor: rgba(17, 19, 33, 1);
  --layoutFooterTextColor: rgba(255, 255, 255, 1);
  --layoutFooterTextColor_mini: rgba(255, 255, 255, 0.8);
  --border_color: rgba(55, 55, 55, 1);
  --line-color: rgba(255, 255, 255, 0.2);
  --border-color-btn: rgba(255, 255, 255, 0.65);
  --color1: #28e7e7;
  --prices-item-bgColor: rgba(29, 30, 44, 0.6);
  --btn-bg-color: rgba(71, 153, 235, 1);
  --contact-form-bg-color: rgba(17, 18, 34, 0.9);
  --contact-form-border-color: rgba(58, 64, 73, 1);
  --layoutTextColor_lightBlue: rgba(120, 183, 255, 1);
  --border-color-1: rgba(31, 63, 100, 1);
  --border-color-2: rgba(31, 40, 100, 1);
  --border-color-3: rgba(19, 68, 84, 1);
  --mark-bg-color-1: rgba(11, 20, 47, 1);
  --mark-bg-color-2: rgba(9, 15, 54, 1);
  --mark-bg-color-3: rgba(2, 22, 34, 1);
  --mark-text-color-1: rgba(90, 167, 255, 1);
  --mark-text-color-2: rgba(122, 140, 255, 1);
  --mark-text-color-3: rgba(124, 207, 226, 1);
  --mark-diot-color-1: rgba(120, 183, 255, 1);
  --mark-diot-color-2: rgba(144, 156, 233, 1);
  --mark-diot-color-3: rgba(95, 172, 189, 1);
  --product-diot-color: rgba(54, 148, 255, 1);
  --layoutTextColor-grey: rgba(153, 153, 153, 1);
  --headerMenuHoverBgColor: rgba(37, 39, 54, 1);
}
:root {
  
  --el-fill-color-blank: transparent;
  --el-border-color: rgba(58, 64, 73, 1);
  --el-border-color-hover: rgba(58, 64, 73, 1);
  --layputBodyBgColor: #020418;
  --layoutHeaderBgColor: rgba(2, 4, 24, 1);
  --layoutTextColor: rgba(255, 255, 255, 1);
  --layoutTextColor_small: rgba(255, 255, 255, 0.85);
  --layoutTextColor_mini: rgba(255, 255, 255, 0.65);
  --layoutHeaderTextActiveColor: rgba(85, 164, 255, 1);
  --layoutHeaderMenuActiveBorder: rgba(85, 164, 255, 1);
  --layoutFooterBgColor: rgba(17, 19, 33, 1);
  --layoutFooterTextColor: rgba(255, 255, 255, 1);
  --layoutFooterTextColor_mini: rgba(255, 255, 255, 0.8);
  --border_color: rgba(55, 55, 55, 1);
  --line-color: rgba(255, 255, 255, 0.2);
  --border-color-btn: rgba(255, 255, 255, 0.65);
  --color1: #28e7e7;
  --prices-item-bgColor: rgba(29, 30, 44, 0.6);
  --btn-bg-color: rgba(71, 153, 235, 1);
  --contact-form-bg-color: rgba(17, 18, 34, 0.9);
  --contact-form-border-color: rgba(58, 64, 73, 1);
  --layoutTextColor_lightBlue: rgba(120, 183, 255, 1);
  --border-color-1: rgba(31, 63, 100, 1);
  --border-color-2: rgba(31, 40, 100, 1);
  --border-color-3: rgba(19, 68, 84, 1);
  --mark-bg-color-1: rgba(11, 20, 47, 1);
  --mark-bg-color-2: rgba(9, 15, 54, 1);
  --mark-bg-color-3: rgba(2, 22, 34, 1);
  --mark-text-color-1: rgba(90, 167, 255, 1);
  --mark-text-color-2: rgba(122, 140, 255, 1);
  --mark-text-color-3: rgba(124, 207, 226, 1);
  --mark-diot-color-1: rgba(120, 183, 255, 1);
  --mark-diot-color-2: rgba(144, 156, 233, 1);
  --mark-diot-color-3: rgba(95, 172, 189, 1);
  --product-diot-color: rgba(54, 148, 255, 1);
  --layoutTextColor-grey: rgba(153, 153, 153, 1);
  --headerMenuHoverBgColor: rgba(37, 39, 54, 1);
}
